body { 
    width: 200px; 
    font-family: Arial, sans-serif; 
    /*gradient color between a sandy beach (#FED7B0) and an ivory (#FFFFEE)*/
    background: #FFFFEE;
}
input { 
    width: 95%;
    padding: 2%;
    margin: 5% 0; 
}